.app {
  text-align: center;
  background: #fffcfc;
  min-height: 100vh;
}

.wrapper{
  max-width: 1200px;
  margin:0 auto;
}
*, *:before, *:after{
  box-sizing: border-box;
  color:#000;
  text-decoration: none;
  margin:0;
  padding:0;
}