row {
    text-decoration: none;
}

.ul {
    position: relative;
    display: flex;
    padding: 25px;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    flex-wrap: wrap;
}

.item{
    position: relative;
    padding:10px 35px;
    margin:0px 5px 15px auto;
    border:1px solid #000;
    border-radius: 50px;
    transition: .55s ease all;

}

.item:hover{
    background: #f5e9e9;
    color:#4f4c4b;
}

/*ДОДЕЛАТЬ ==================================================*/
/*.item:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 1;*/
/*    transition: all 0.3s;*/
/*    background-color: rgba(131,190,197,0.1);*/
/*}*/

/*.item:hover:after{*/
/*    opacity: 0;*/
/*    transform: scale(0.1, 1);*/
/*}*/

li {
    font-size: 20px;
}

.item:nth-child(1){
    margin-left: 0;
    color:#4f4c4b;
    margin-right: auto;
}
.item:last-child {
    margin-left: 0px;
    color:#4f4c4b;
    border-radius: 0px 50px 50px 0;
}
.item:nth-last-child(2){
    color:#4f4c4b;
    border-radius: 50px 0px 0px 50px;
}

.secondary{
    display: inherit;
}


@media (max-width:768px) {
    .ul{
        text-align: center;
        justify-content: center;
        /*margin:100px;*/
    }
    .item {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0px auto 15px auto;
    }

    .item:nth-child(1){
        margin:0px auto 15px auto;
    }

}